* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header , main {
  width: 60%;
  margin-left: 20%;

  display: flex;
}

header {
  height: 80px;
  background-color: darkblue;
  color: white;

  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header img {
  width: 40px;
  height: 40px;
}
