.sec {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%; 
}
.sec > input {
  width: 40%;
  height: 30px;
  margin: 10px;
}

#txt2 {
  background-color: antiquewhite;
}

.sec > button {
  width : 25% ;
  margin: 5px;
}